body{
    background-color: #A9A9A9;
}
.container{
    margin: 100px auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    color: red;
    font-size: 40px;
    padding: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}
.firstInformation{
    text-align: center;
    font-size: 28px;
}
.mainInformation{
    min-height: 100px;
    width: 100%;
}
.collectPackageButton{
    background-color: red;
    width: 60%;
    height: 80px;
    cursor: pointer;
    border: none;
    font-size: 30px;
}
.collectPackageButton:hover {
    background-color: #DD0000;
}
.packageCollectionForm{
    display: flex;
}
.formItem{
    width: 30%;
    margin: 10%;
}
.inputSignature{
    width: 100%;
}
.inputForm{
    width: 100%;
    height: 40px;
    font-size: 30px;
    text-align: center;
}
.formError{
    color: red;
    margin: 30px;
    font-size: 30px;
    text-align: center;
}
.modal{
    position: absolute;
    top: 200px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background-color: #A9A9A9;
    z-index: 2;
}
.modalTitle{
    text-align: center;
    font-size: 38px;
    padding: 30px;
    font-weight: bold;
}
.modalInformation{
    font-size: 24px;
    text-align: center;
    padding: 0 60px 100px 60px;
}
.choiceFurtherActionButton{
    width: 30%;
    height: 80px;
    font-size: 20px;
    background-color: red;
    cursor: pointer;
    margin: 50px 9%;
}
#obscureBackground{
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 30%;
}
.button {
    background-color: red;
    width: 60%;
    height: 80px;
    cursor: pointer;
    font-size: 30px;
    position: relative;
    padding: 8px 16px;
    border: none;
    outline: none;
    border-radius: 2px;
}
.button:hover {
    background-color: #DD0000;
}
  
.button:active {
    background: #DD0000;
}
  
.button__text {
    transition: all 0.2s;
}
  
.button--loading .button__text {
    visibility: hidden;
    opacity: 0;
}
  
.button--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #ffffff;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
 }
  
@keyframes button-loading-spinner {
    from {
      transform: rotate(0turn);
    }
  
    to {
      transform: rotate(1turn);
    }
}
@media only screen and (max-width: 1450px) {
    .choiceFurtherActionButton{
        font-size: 16px;
    }
}
@media only screen and (max-width: 1250px) {
    .choiceFurtherActionButton{
        font-size: 12px;
    }
}
@media only screen and (max-width: 500px) {
    .button__text {
        font-size: 20px;
    }
}
@media only screen and (max-width: 700px) {
    .packageCollectionForm{
        flex-direction: column;
        align-items: center;
    }
    .formItem{
        width: 60%;
        margin: 10%;
    }
    .choiceFurtherActionButton{
        width: 60%;
        margin-left: 20%;
        font-size: 20px;
    }
}
@media only screen and (max-width: 950px) {
    .modal{
        width: 80%;
    }
}
  