body{
    background-color: #A9A9A9;
}
.container{
    margin: 100px auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    color: red;
    font-size: 40px;
    padding: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}
.firstInformation{
    text-align: center;
    font-size: 28px;
}
.mainInformation{
    min-height: 100px;
    width: 100%;
}
.collectPackageButton{
    background-color: red;
    width: 60%;
    height: 80px;
    cursor: pointer;
    border: none;
    font-size: 30px;
}
.collectPackageButton:hover {
    background-color: #DD0000;
}
.packageCollectionForm{
    display: flex;
}
.formItem{
    width: 30%;
    margin: 10%;
}
.inputSignature{
    width: 100%;
}
.inputForm{
    width: 100%;
    height: 40px;
    font-size: 30px;
    text-align: center;
}
.formError{
    color: red;
    margin: 30px;
    font-size: 30px;
}
.modal{
    position: absolute;
    top: 200px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background-color: #A9A9A9;
    z-index: 2;
}
.modalTitle{
    text-align: center;
    font-size: 38px;
    padding: 30px;
    font-weight: bold;
}
.modalInformation{
    font-size: 24px;
    text-align: center;
    padding: 0 60px 100px 60px;
}
.choiceFurtherActionButton{
    width: 30%;
    height: 80px;
    font-size: 20px;
    background-color: red;
    cursor: pointer;
    margin: 50px 9%;
}
#obscureBackground{
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 30%;
}