body{
    background-color: #A9A9A9;
}
.container{
    margin: 100px auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    color: red;
    font-size: 40px;
    padding: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}
.firstInformation{
    text-align: center;
    font-size: 28px;
}
.mainInformation{
    min-height: 100px;
    margin: 50px;
    width: 100%;
}
.collectPackageButton{
    background-color: red;
    width: 60%;
    height: 80px;
    cursor: pointer;
    border: none;
    font-size: 30px;
}
.collectPackageButton:hover {
    background-color: #DD0000;
}
.packageCollectionForm{
    display: flex;
}
.formItem{
    width: 30%;
    margin: 10%;
}
.inputSignature{
    width: 100%;
}
.inputForm{
    width: 100%;
    height: 40px;
    font-size: 30px;
    text-align: center;
}